{{ prospect_data.created }}
{{ prospect_data.awaiting_valuation }}
{{ prospect_data.active_valuations }}
{{ prospect_data.completed_valuations }}

{{ loan_application_data.total }}
{{ loan_application_data.declined }}
{{ loan_application_data.approved }}
{{ loan_application_data.approval_percentage }}
{{ loan_application_data.decline_percentage }}

{{ collection_data.total }}
{{ collection_data.successful }}
{{ collection_data.failed }}
{{ collection_data.collection_percentage }}
{{ collection_data.failed_percentage }}

url 'prospect_delete' prospect.pk