{% extends 'home/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


    <h1 class="text-center mb-4">Dashboard</h1>
    <!-- Main Content -->
    <div class="content" id="content">
        <!-- Statistic Cards -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="stat-card Collections">
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="stat-card Sales">
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="stat-card principle">
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="stat-card Penalities">
                    <h4></h4>
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Additional Content Cards -->
        <div class="additional-cards">
            <div class="card">
                <h5></h5>
                <p></p>
            </div>
            <div class="card">
                <h5></h5>
                <p></p>
            </div>
            <div class="card">
                <h5></h5>
                <p></p>
            </div>
        </div>
{% endblock %}