{% extends 'home/base.html' %} {% block title %}Prospects{% endblock %}
<!--  -->

{% block content %}
<h1>INSPECTION REQUESTS</h1>
<!-- <a href="{% url 'prospect_create' %}" class="btn btn-primary">Add Prospect</a> -->
<table class="table">
    <thead>
        <tr>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Gender</th>
            <th style="text-align: center;">Phone Number</th>
            <th style="text-align: center;">company</th>
            <!-- <th style="text-align: center;">Valuer Assigned</th> -->
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody style="text-align: center;">
        {% for prospect in prospects %}
        <tr style="text-align: center;" >
            <td>{{ prospect.name }}</td>
            <td>{{ prospect.gender }}</td>
            <td>{{ prospect.phone_number }}</td>
            <td style="text-align: center;">{{ prospect.company }}</td>
            <!-- <td>{{ prospect.valuer_assigned }}</td> -->
            <td style="color: blueviolet;">{{ prospect.status }}</td>
            <td>
                <a
                    href="{% url 'prospect_detail_new_prospects' prospect.slug %}"
                    class="btn btn-primary"
                    >View</a
                >
                <!-- <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#valuationModal" data-prospect="{{ prospect.id }}">Submit to Valuation</a> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
