{% extends 'home/base.html' %} {% load static %}
<!--  -->
{% block title %}InspectionReport{% endblock %}
<!--  -->
{% block content %} {% if not i_reports %}
<form method="post" enctype="multipart/form-data">
    <div class="modal-form-area">
        <div class="modal-form-heading">
            <span class="form-title">PLEASE ENTER VALUATION DETAILS</span>
            <span class="form-part-minimizer">
                <i class="fas fa-chevron-up show"></i>
                <i class="fas fa-chevron-down hidden"></i>
            </span>
        </div>
        <div class="modal-form">
            <div class="modal-form split">
                {% csrf_token %} {{ create_inspection_report_form.as_p }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        SUBMIT INSPECTION DETAILS.
    </button>
</form>
{% else %}

<!-- render from for editing exiting report -->
{% for report_form in i_reports %}

<form
    action="{% url 'create_inspection_report' prospect.slug %}?form_id={{report_form.report.id}}"
    method="post"
    enctype="multipart/form-data"
>
    <div class="modal-form-area">
        <div class="modal-form-heading">
            <span class="form-title"
                >PLEASE ENTER VALUATION DETAILS FOR
                <b style="text-transform: uppercase; color: blue"
                    >CARPLATE</b
                ></span
            >
            <span class="form-part-minimizer">
                <i class="fas fa-chevron-up show"></i>
                <i class="fas fa-chevron-down hidden"></i>
            </span>
        </div>
        <div class="modal-form">
            <div class="modal-form split">
                {% csrf_token %} {{ report_form.form.as_p }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        SUBMIT INSPECTION DETAILS
    </button>
</form>
    
{% endfor %} {% endif %} {% endblock %}
