{% extends 'home/base.html' %} {% block content %}
<h1>Prospects Pending Payments Verification</h1>

<style>
    th, td {
        text-align: start!important;
    }
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Phone Number</th>
            <th>Licence Plate</th>
            <th>Location</th>
            <th>Status</th>
            <th>Updated On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for prospect in prospects %}
        <tr>
            <td>{{ prospect.name }}</td>
            <td>{{ prospect.gender }}</td>
            <td>{{ prospect.company }}</td>
            <td>{{ prospect.phone_number }}</td>
            <td>{{ prospect.vehicle }}</td>
            <td>{{ prospect.location }}</td>
            {% if prospect.status in 'Declined, Failed' %}
            <td style="font-style: italic; color: red">
                {{ prospect.status }}
            </td>
            {% else %}
            <td style="color: blueviolet">
                {{ prospect.status }}
            </td>
            {% endif %}
            <td>{{ prospect.asset_submitted_on }}</td>
            <td>
                <a
                    href="{% url 'prospect_detail' prospect.slug %}"
                    class="btn btn-success btn-sm"
                    ><i class="fa fa-eye"></i><span>Detail</span></a
                >
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
