{% extends 'home/base.html' %} {% block title %}Prospects{% endblock %}
<!--  -->

{% block content %}
<h1>Valuation Instructions</h1>
<!-- <a href="{% url 'prospect_create' %}" class="btn btn-primary">Add Prospect</a> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th style="text-align: start;">Name</th>
            <th style="text-align: center;">Gender</th>
            <th style="text-align: center;">Phone Number</th>
            <th style="text-align: center;">Company</th>
            <th style="text-align: center;">Licence Plate</th>
            <th style="text-align: center;">Location</th>
            <th style="text-align: center;">Valuer Assigned</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Updated At</th>
            <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody style="text-align: center;">
        {% for prospect in prospects %} {% if prospect.status == 'Valuation' %}
        <tr style="text-align: center;" >
            <td style="text-align: start;">{{ prospect.name }}</td>
            <td>{{ prospect.gender }}</td>
            <td style="text-align: center;">{{ prospect.phone_number }}</td>
            <td style="text-align: center;">{{ prospect.company }}</td>
            <td style="text-align: center;">{{ prospect.vehicle }}</td>
            <td style="text-align: center;">{{ prospect.location }}</td>
            <td>{{ prospect.valuer_assigned }} <br>
            <a href="#" data-bs-toggle="modal" data-bs-target="#assignValuerModal-{{prospect.slug}}" style="font-size: 10px; color: #3c8dbc;">
                Manual Reassign
            </a> <br>
            <a href="{% url 'auto_assign_valuer' prospect.slug %}" style="font-size: 10px; color: #3c8dbc;">
                Auto Reassign
            </a>
            </td>
            <td style="color: blueviolet;">{{ prospect.status }}</td>
            <td> {{ prospect.submitted_for_valuation_on }}</td>
            <td>
                <a
                    href="{% url 'prospect_detail' prospect.slug %}"
                    class="btn btn-primary"
                    >View</a
                >
                <!-- <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#valuationModal" data-prospect="{{ prospect.id }}">Submit to Valuation</a> -->
            </td>
        </tr>
        
        <!-- Modal for Assign Valuer -->
        <div class="modal fade" id="assignValuerModal-{{prospect.slug}}" tabindex="-1" role="dialog" aria-labelledby="assignValuerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="assignValuerModalLabel">Reassign Valuer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 0.5rem 1rem;border: none; outline: transparent;background-color: black;color: white; font-size: 12px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: grid; justify-content: stretch;">
                        <form id="assignValuerForm" method="POST" action="{% url 'manually_assign_valuer' prospect.slug %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="valuerSelect">Select Valuer</label>
                                <select class="form-control" id="valuerSelect" name="valuer">
                                    {% for valuer in valuers %}
                                        <option value="{{ valuer.id}}">{{ valuer.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 20px">Assign</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        {% endif %} {% endfor %}
    </tbody>
</table>
{% endblock %}
