{% extends 'home/base.html' %} {% block title %}Prospects{% endblock %}
<!--  -->

{% block content %}
<h1>VALUATION REQUESTS</h1>
<!-- <a href="{% url 'prospect_create' %}" class="btn btn-primary">Add Prospect</a> -->
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for prospect in prospects %} {% if prospect.status == 'Valuation' %}
        <tr>
            <td>{{ prospect.name }}</td>
            <td>{{ prospect.gender }}</td>
            <td>{{ prospect.phone_number }}</td>
            <td>{{ prospect.status }}</td>
            <td>
                <a
                    href="{% url 'prospect_detail' prospect.slug %}"
                    class="btn btn-primary"
                    >View</a
                >
                <!-- <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#valuationModal" data-prospect="{{ prospect.id }}">Submit to Valuation</a> -->
            </td>
        </tr>
        {% endif %} {% endfor %}
    </tbody>
</table>
{% endblock %}
