{% extends 'home/base.html' %} {% block title %}Prospects{% endblock %}
<!--  -->

{% block content %}
<style>
    th, td {
        text-align: start!important;
    }
</style>

<h1>Valuation Instructions</h1>
<!-- <a href="{% url 'prospect_create' %}" class="btn btn-primary">Add Prospect</a> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Company</th>
            <th>Licence Plate</th>
            <th>Location</th>
            <th>Valuer Assigned</th>
            <th>Status</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for prospect in prospects %} {% if prospect.status == 'Valuation' %}
        <tr>
            <td>{{ prospect.name }}</td>
            <td>{{ prospect.gender }}</td>
            <td>{{ prospect.phone_number }}</td>
            <td>{{ prospect.company }}</td>
            <td>{{ prospect.vehicle }}</td>
            <td>{{ prospect.location }}</td>
            <td>{{ prospect.valuer_assigned }}<br>
            {% if "can_assign_valuers" in request.user.permissions %}
            <a href="#" data-bs-toggle="modal" data-bs-target="#assignValuerModal-{{prospect.slug}}" style="font-size: 10px; color: #3c8dbc;">
                Manual Reassign
            </a> <br>
            <a href="{% url 'auto_assign_valuer' prospect.slug %}" style="font-size: 10px; color: #3c8dbc;">
                Auto Reassign
            </a>
            {% endif %}
            </td>
            <td style="color: blueviolet;">{{ prospect.status }}</td>
            <td>{{ prospect.submitted_for_valuation_on }}</td>
            <td>
                {% if prospect.valuer_assigned == request.user.name %}
                <a
                    href="{% url 'prospect_detail' prospect.slug %}"
                    class="btn btn-primary"
                    >View</a
                >
                {% endif %}
            </td>
        </tr>
        
        <!-- Modal for Assign Valuer -->
        <div class="modal fade" id="assignValuerModal-{{prospect.slug}}" tabindex="-1" role="dialog" aria-labelledby="assignValuerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="assignValuerModalLabel">Reassign Valuer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 0.5rem 1rem;border: none; outline: transparent;background-color: black;color: white; font-size: 12px;" onclick="$('#assignValuerModal-{{prospect.slug}}').modal('hide');">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: grid; justify-content: stretch;">
                        <form id="assignValuerForm" method="POST" action="{% url 'manually_assign_valuer' prospect.slug %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="valuerSelect">Select Valuer</label>
                                <select class="form-control" id="valuerSelect" name="valuer">
                                    {% for valuer in valuers %}
                                        <option value="{{ valuer.id}}">{{ valuer.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 20px">Assign</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        {% endif %} {% endfor %}
    </tbody>
</table>
{% endblock %}
