{% extends 'home/base.html' %} {% block title %}Failed Prospects{% endblock %}
{% block content %}
<style>
    th, td {
        text-align: start!important;
    }
</style>
<h1>Prospects Awaiting Valuation Approval</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Company</th>
            <th>Licence Plate</th>
            <th>Location</th>
            <th>Valuer Assigned</th>
            <th>Status</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for prospect in prospects %}
        <tr>
            <td>{{ prospect.name }}</td>
            <td>{{ prospect.gender }}</td>
            <td>{{ prospect.phone_number }}</td>
            <td>{{ prospect.company }}</td>
            <td>{{ prospect.vehicle }}</td>
            <td>{{ prospect.location }}</td>
            <td>{{ prospect.valuer_assigned}}</td>
            <td>{{ prospect.status }}</td>
            <td>{{ prospect.updated_at }}</td>
            <td>
                <a
                    href="{% url 'valuation_prospect_detail' prospect.slug %}"
                    class="btn btn-success"
                    ><i class="fas fa-eye"></i>  View</a
                >
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
