{% extends 'home/base.html' %}
<!--  -->
{% block title %}Company User{%endblock %}
<!--  -->
{% block content %}
<!-- verify_payment.html -->
<h2>INFORMATION DETAILS FOR {{user}}</h2>

<div class="container mt-2">
    <div class="container mt-2">
        <div class="card mb-3">
            <div class="card-header with-minimizer">
                <p class="">INFORMATION DETAILS FOR {{user}}</p>
                <span class="card-body-minimizer">
                    <i class="fas fa-chevron-up show"></i>
                    <i class="fas fa-chevron-down hidden"></i>
                </span>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'users_details' user.slug %}" style="display: grid; gap: 1rem"
                    enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="modal-form split">
                        <!--  -->
                        {{ form.as_p }}
                        <!--  -->
                    </div>
                    <hr />
                    <input type="submit" value="Save" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <!-- Button to Open Password Change Modal -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
        data-bs-target="#passwordChangeModal">
        Change Password
    </button>

    <!-- Password Change Modal -->
    <div class="modal fade" id="passwordChangeModal" tabindex="-1"
        aria-labelledby="passwordChangeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordChangeModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'change_user_password' user.id %}">
                        {% csrf_token %}
                        {{ password_form.as_p }}
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}