[Unit]
Description=celery beat service for MabisValuation
After=network.target

[Service]
user=mabisbiknboss
Group=www-data
WorkingDirectory=/home/mabisbiknbos/MabisValuation
ExecStart=/home/mabisbiknboss/MabisValuation/venv/bin/celery -A Valuaionsystem beat --loglevel=info
Restart=always

[Install]
WantedBy=multi-user.target
