{% extends 'home/base.html' %} {% load static %} {% block css %}
<!--  -->
{% block title%}COMPANY{% endblock %} {% block content %}
<div class="form-container">
    <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} COMPANY</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="modal-form-area">
            <div class="modal-form-heading">
                <span class="form-title">COMPANY DETAILS</span>
                <span class="form-part-minimizer">
                    <i class="fas fa-chevron-up show"></i>
                    <i class="fas fa-chevron-down hidden"></i>
                </span>
            </div>
            <div class="modal-form">
                <div class="modal-form split">
                    {% csrf_token %} {{ form.as_p }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %} {% endblock %}
